# NumPy DataTypes and Attributes

In [ ]:
import numpy as np

## NumPy's main datatype is ndarray

In [ ]:
a1 = np.array([1,2,3])
a1

In [ ]:
type(a1)

In [ ]:
a2 = np.array(
    [
        [1.8, 2, 3.6],
        [4.0, 5, 6.1]
    ]
)

a2

In [ ]:
a3 = np.array(
    [
        [
            [1, 2, 3],
            [3, 4, 5],
            [6, 7, 8]
        ],
        [
            [10 ,11, 12],
            [13, 14, 15],
            [16, 17, 18]
        ]
    ],
    dtype=np.int16
)
a3

In [ ]:
print(a1.shape)
print(a2.shape)
print(a3.shape)

In [ ]:
a1.ndim, a2.ndim, a3.ndim,

In [ ]:
a1.dtype, a2.dtype, a3.dtype

In [ ]:
a1.size, a2.size, a3.size

In [ ]:
type(a1), type(a2), type(a3)

## Create a DataFrame form a NumPy Array

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(a2)
df

# Creating NumPy Arrays

In [ ]:
ones = np.ones(2)
ones

In [ ]:
ones.dtype

In [ ]:
ones = np.ones(shape=(2,3), dtype=np.int16)
ones

In [ ]:
zeros = np.zeros((2,3))
zeros

In [ ]:
range_array = np.arange(start=0,stop=10,step=2)
range_array

In [ ]:
random_array = np.random.randint(low=0, high=10, size=(3,5))
random_array

In [ ]:
np.random.random(size=(5,5))

In [ ]:
np.random.rand(2,3)

# NumPy Random Seed

## Pseudo random numbers

In [ ]:
np.random.seed(seed=0)
np.random.randint(10, size=(5,3))

In [ ]:
np.random.seed(seed=0)
np.random.randint(10, size=(5,3))

In [ ]:
np.random.randint(10, size=(5,3))

In [ ]:
np.random.seed(5)
np.random.random((5, 3))

# Viewing Arrays and Matrices

In [ ]:
random_array = np.random.randint(0,10,(3,3))
random_array

In [ ]:
np.unique(random_array)

In [ ]:
a1[0]

In [ ]:
a2[0]

In [ ]:
a3

In [ ]:
a3[0]

In [ ]:
a3[:2,:2,:2]

In [ ]:
a3[:,:,:2]

# Manipulating Arrays

## Arithmetic

In [ ]:
a1

In [ ]:
ones = np.ones(3)
ones

In [ ]:
a1 + ones

In [ ]:
a1 - ones

In [ ]:
a1 * ones

In [ ]:
a1

In [ ]:
a2

In [ ]:
a1 * a2

In [ ]:
a1.shape, a2.shape

In [ ]:
# (2, 3)
# ( , 3)

In [ ]:
a3*a1

In [ ]:
a3

In [ ]:
a4 = np.ones(shape=(3,3))*2
a4

In [ ]:
a3*a4

In [ ]:
a3.shape, a4.shape

In [ ]:
# (2, 3, 3) 
# ( , 3, 3)

In [ ]:
print(a1)
print(ones)
a1/ones

In [ ]:
print(a2)
print(a1)
# floor division remove the decimal (rounds down)
print(a2 / a1)
print(a2 // a1)

In [ ]:
print(a1)
print(a1 ** 2)
print(np.square(a1))

In [ ]:
np.add(a1, ones)

In [ ]:
a1 % 2

In [ ]:
np.exp(a1)

In [ ]:
np.log(a1)

## Aggregation
### Performing the same operation on number of things

In [ ]:
listy_list = [1, 2, 3]
print(type(listy_list))
print(sum(listy_list))

In [ ]:
type(a1)

In [ ]:
sum(a1), np.sum(a1)

### Use python's methods (`sum()`) for python datatypes
### Use NumPy's methods (`np.sum()`) for NumPy datatypes

In [ ]:
massive_array = np.random.random(100000)
massive_array[:5]

In [ ]:
%timeit sum(massive_array)
%timeit np.sum(massive_array)

In [ ]:
np.mean(a2), np.std(a2),np.sqrt(np.var(a2)), np.var(a2), np.square(np.std(a2))

In [ ]:
np.max(a2), np.min(a2)

# Standard Deviation and Variance

In [ ]:
high_var_array = [1, 100, 200, 300, 4000, 5000]
low_var_array = [2, 4, 6, 8, 10]

In [ ]:
np.mean(high_var_array), np.mean(low_var_array)

In [ ]:
np.var(high_var_array), np.var(low_var_array)

In [ ]:
np.std(high_var_array), np.std(low_var_array)

In [ ]:
mean = np.sum(low_var_array)/len(low_var_array)
var = np.sum(np.square(low_var_array - mean))/len(low_var_array)
std = np.sqrt(var)

mean, var, std

# Reshape and Transpose

In [ ]:
a2

In [ ]:
a2.shape

In [ ]:
a2_reshape = a2.reshape(2,3,1)
a2_reshape, a2_reshape.shape

In [ ]:
a3, a3.shape

In [ ]:
a3 * a2_reshape

In [ ]:
a2, a2.shape

In [ ]:
a2.T, a2.T.shape

# Dot Product vs Element Wise

In [ ]:
np.random.seed(0)
mat1 = np.random.randint(10, size=(5,3))
mat2 = np.random.randint(10, size=(5,3))

mat1, mat2, (mat1 * mat2) # Element-wise multiplication (Hadamard product) or np.multiply(mat1, mat2)

In [ ]:
(mat1.shape, mat2.T.shape), (mat1.T.shape, mat2.shape)

In [ ]:
# Dot product
np.dot(mat1, mat2.T), np.dot(mat1.T, mat2)

# Exercise Nut Butter Store Sales

In [ ]:
'''
day      | almond butter | cashew butter | peanut butter | daily sales
________________________________________________________________
Monday   |        2              7               1           88
Tuesday  |        9              4              16          314
Wednesday|       11             14              18          438
Thursday |       13             13              16          426
Friday   |       15             18               9          402


   _    | almond butter | cashew butter | peanut butter
_______________________________________________________
price          10               8               12
'''

In [220]:
Nut_Butter_Store_Sales = pd.DataFrame(
    [
        [2, 7, 1],
        [9, 4, 16],
        [11, 14, 18],
        [13, 13, 16],
        [15, 18, 9]
    ],
    index=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
    columns=['almond butter', 'cashew butter', 'peanut butter']
)

Nut_Butter_Store_Sales

           almond butter  cashew butter  peanut butter
Monday                 2              7              1
Tuesday                9              4             16
Wednesday             11             14             18
Thursday              13             13             16
Friday                15             18              9

In [221]:
Nut_Butter_Price = pd.DataFrame(
    np.array([10, 8, 12]).reshape(1,-1),
#   np.array([10, 8, 12]).reshape(1, 3),
    index=['price'],
    columns=['almond butter', 'cashew butter', 'peanut butter']
)

Nut_Butter_Price

       almond butter  cashew butter  peanut butter
price             10              8             12

In [222]:
daily_sales = np.dot(Nut_Butter_Store_Sales.values, Nut_Butter_Price.values.T)
daily_sales

array([[ 88],
       [314],
       [438],
       [426],
       [402]], dtype=int64)

In [223]:
Nut_Butter_Store_Sales['daily sales'] = total

Nut_Butter_Store_Sales

           almond butter  cashew butter  peanut butter  daily sales
Monday                 2              7              1           88
Tuesday                9              4             16          314
Wednesday             11             14             18          438
Thursday              13             13             16          426
Friday                15             18              9          402